<!DOCTYPE html>
<html>
<head>

  <title><%= yield_or_default(:title) -%></title>
  <meta name="description" content="<%= yield_or_default(:meta_desc) -%>">
  <meta name="keywords" content="<%= yield_or_default(:meta_keywords) -%>">
  <meta name="robots" content="<%= yield_or_default(:robots) -%>">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="width:700px;">

<p>
Live demo site for the blog post: <a href="http://joanswork.com/rails-seo-and-i18n-the-basics/" target="_blank">Rails, SEO, I18n: The Basics</a>.<br />
The open source respository: <a href="https://github.com/jehughes/rails-basic-seo-example" target="_blank">https://github.com/jehughes/rails-basic-seo-example</a>
</p>
<hr />

<%= link_to "Dashboard", root_path -%>&nbsp;&nbsp;
<%= link_to "Reports", reports_path -%>&nbsp;&nbsp;
<%= link_to "Help", help_index_path -%>&nbsp;&nbsp;
<%= link_to "Message", messages_path -%>

<%= yield %>

<br />
<br />
<br />
<br />
<br />
<br />
<h4>Page Tags</h4>
<div id="list_tags"></div>
<br />
<br />
<p><span style="color:#FF0000;">NOTE:</span> You'll notice that the meta tags don't update until you do a page refresh. This is a Turbolinks issue - I've posted this as a question on <a href="http://stackoverflow.com/questions/18491651" target="_blank">StackOverflow</a> .... we'll see. </p>

</body>
</html>
